<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>
    {# LINK ASSETS #}
    {{ encore_entry_link_tags('main-css') }}
    {{ encore_entry_link_tags('scrollbar-css') }}
</head>
<body>
    {% block body %}{% endblock %}

    {# VISITOR TRACKING SYSTEM #}
    {% if getEnvValue('VISITOR_TRACKING_ENABLED') == 'true' %}
        <script>
            const visitorReferer = document.referrer || 'Unknown'
            fetch('{{ getEnvValue("VISITOR_TRACKING_URL") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    service_name: '{{ getEnvValue("VISITOR_TRACKING_SERVICE_NAME") }}',
                    referer: visitorReferer
                })
            })
        </script>
    {% endif %}
</body>
</html>
